[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
	branch = gaussian_code_release_hierarchy
[submodule "lib/submodules/hierarchy-rasterizer"]
	path = lib/submodules/hierarchy-rasterizer
	url = https://github.com/graphdeco-inria/hierarchy-rasterizer.git
[submodule "lib/submodules/simple-knn"]
	path = lib/submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "lib/submodules/gaussianhierarchy"]
	path = lib/submodules/gaussianhierarchy
	url = https://github.com/graphdeco-inria/gaussian-hierarchy.git
[submodule "lib/submodules/Depth-Anything-V2"]
	path = lib/submodules/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "lib/submodules/DPT"]
	path = lib/submodules/DPT
	url = https://github.com/isl-org/DPT.git
